<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!--REF: https://stackoverflow.com/questions/4472891/how-can-i-disable-zoom-on-a-mobile-web-page -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi' />
    <link rel="shortcut icon" href="#" />
    <!-- css -->
    <link type='text/css' rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }}' />
    <title></title>
</head>

<body>

    <header></header>

    <section></section>
    
    <aside></aside>

    <footer>    
        <p class='copyright'>&copy; 20xx</p>
    </footer>

</body>

<script></script>

</html>
